<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <!-- Start Main -->
    <div class="main" data-ng-app="mainApp" data-ng-controller="mainCtrl">

        <div class="filter">
            <input type="text" id="productTitle" data-ng-model="productTitle" placeholder="Product title" />
            <input type="number" id="maximumPrice"  data-ng-model="maximumPrice" placeholder="Maximum price" />
        </div>

        <table>
            <thead>
                <tr>
                    <th data-ng-click="orderBy('title')">Title</th>
                    <th data-ng-click="orderBy('price')">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="product in Products | filter:productTitle | filter:priceFilter | orderBy:myOrderBy:true">
                    <td>{{product.title}}</td>
                    <td>{{product.price}}</td>
                </tr>
            </tbody>
        </table>

    </div>
	<!-- End Main -->
	<script src="data/products.js"></script>
	<script src="script/angular.min.js"></script>
    <script src="script/script.js"></script>
</body>
</html>
